<div class="bg-gray-50 p-6 rounded-lg shadow-md max-w-4xl">
  <h3 class="text-xl font-semibold mb-4">Get more updates...</h3>
  <p class="text-gray-600 mb-4">
    Do you want to get notified when a new article is published? Sign up for our
    newsletter and you'll be among the first to find out about new article.
  </p>

  <div class="flex gap-2">
    <input
      type="email"
      class="w-full max-w-sm p-3 border rounded-md focus:outline-sky-500"
      placeholder="Your email address..."
    />
    <button
      class="bg-sky-500 hover:bg-sky-700 text-white font-bold py-3 px-6 rounded-md"
    >
      Subscribe
    </button>
  </div>
</div>
